**GPLA-12: An Acoustic Signal Dataset of Gas Pipeline Leakage** https://paperswithcode.com/dataset/gpla-12**

In [4]:
import pandas as pd
df = pd.read_excel("data.xlsx", header=None)
lable = pd.read_excel("lable.xlsx", header=None)

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,...,878,879,880,881,882,883,884,885,886,887
0,1,2,3,4,5,6,7,8,9,10,...,879,880,881,882,883,884,885,886,887,888
1,2360,2012,2009,2140,2324,1736,2199,2132,2138,2184,...,1996,2319,2168,2134,2148,2206,2164,1768,2006,1858
2,2920,2021,2185,2505,2861,1011,2545,1859,2365,1967,...,2111,2787,1941,2341,1975,2513,1929,1101,2165,1299
3,2319,2148,2068,2140,2026,2142,2358,2250,2433,1861,...,2247,2063,2066,1978,2081,2080,2446,1962,2112,2087
4,2853,2476,2280,2445,1677,1924,2955,2837,3093,1325,...,2580,1745,1769,2079,1771,2415,3123,1530,1885,1775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,3492,3467,3257,3489,938,3497,3483,924,2606,3491,...,923,925,2467,1729,2908,1485,2187,3493,923,1008
777,2580,2549,1690,1980,1692,1688,1696,1730,1748,2607,...,1724,2607,2127,1704,1831,1700,1710,2612,2612,1706
778,3445,3375,925,2194,920,921,928,987,1349,3487,...,1032,3487,2399,955,1175,940,950,3491,3491,964
779,1824,2607,2612,1689,2604,2606,2342,1696,1692,1692,...,2600,2607,2606,1694,2268,2607,2612,1709,2095,1692
780,1176,3491,3493,916,3485,3489,3011,934,929,917,...,3473,3485,3493,921,2929,3493,3493,963,1739,917

In [8]:
lable.head()

   0
0  1
1  2
2  1
3  2
4  1