**GPLA-12: An Acoustic Signal Dataset of Gas Pipeline Leakage** https://paperswithcode.com/dataset/gpla-12

In [1]:
import pandas as pd

In [49]:
df = pd.read_excel("data.xlsx", header=None)

In [50]:
df

,0,1,2,3,4,5,6,7,8,9,...,878,879,880,881,882,883,884,885,886,887
0,1,2,3,4,5,6,7,8,9,10,...,879,880,881,882,883,884,885,886,887,888
1,2360,2012,2009,2140,2324,1736,2199,2132,2138,2184,...,1996,2319,2168,2134,2148,2206,2164,1768,2006,1858
2,2920,2021,2185,2505,2861,1011,2545,1859,2365,1967,...,2111,2787,1941,2341,1975,2513,1929,1101,2165,1299
3,2319,2148,2068,2140,2026,2142,2358,2250,2433,1861,...,2247,2063,2066,1978,2081,2080,2446,1962,2112,2087
4,2853,2476,2280,2445,1677,1924,2955,2837,3093,1325,...,2580,1745,1769,2079,1771,2415,3123,1530,1885,1775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,3492,3467,3257,3489,938,3497,3483,924,2606,3491,...,923,925,2467,1729,2908,1485,2187,3493,923,1008
777,2580,2549,1690,1980,1692,1688,1696,1730,1748,2607,...,1724,2607,2127,1704,1831,1700,1710,2612,2612,1706
778,3445,3375,925,2194,920,921,928,987,1349,3487,...,1032,3487,2399,955,1175,940,950,3491,3491,964
779,1824,2607,2612,1689,2604,2606,2342,1696,1692,1692,...,2600,2607,2606,1694,2268,2607,2612,1709,2095,1692
780,1176,3491,3493,916,3485,3489,3011,934,929,917,...,3473,3485,3493,921,2929,3493,3493,963,1739,917

**SWAT A7 (Secure Water Treatment (SWaT))**

In [17]:
# df = pd.read_excel("D:\Iniciação Científica\Graph Neural Network-Based Anomaly Detection in Multivariate Time Series\data2.csv")

**Conjunto de dados de simulação de degradação de motor turbofan da NASA**: 
Este conjunto de dados consiste em dados de sensor simulados de um motor turbofan, com o objetivo de prever quando o motor falhará. O conjunto de dados inclui várias leituras de sensor, como temperatura e pressão, e fornece informações sobre a vida útil restante do motor.  https://www.kaggle.com/datasets/behrad3d/nasa-cmaps/code https://pub.towardsai.net/predicting-the-remaining-useful-life-of-turbofan-engine-f38a17391cac https://medium.com/swlh/machine-learning-for-equipment-failure-prediction-and-predictive-maintenance-pm-e72b1ce42da1

In [41]:
data_train = pd.read_csv(r"D:\Iniciação Científica\NASA Turbofan Jet Engine Data Set\CMaps\train_FD001.txt",sep=" ",header=None)
data_test = pd.read_csv(r"D:\Iniciação Científica\NASA Turbofan Jet Engine Data Set\CMaps\test_FD001.txt",sep=" ",header=None)
data_RUL = pd.read_csv(r"D:\Iniciação Científica\NASA Turbofan Jet Engine Data Set\CMaps\RUL_FD001.txt",sep=" ",header=None)

In [42]:
data_train
# data_test
# data_RUL

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735,NaN,NaN
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594,NaN,NaN
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333,NaN,NaN
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640,NaN,NaN
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522,NaN,NaN

In [43]:
data_train.drop(columns=[26,27],inplace=True)
data_test.drop(columns=[26,27],inplace=True)
data_RUL.drop(columns=[1],inplace=True)

In [44]:
data_train
# data_test
# data_RUL

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

**Conjunto de dados de classificação de manutenção preditiva da máquina**  é um conjunto de dados de sensores coletados em uma fábrica de produção de aço. O objetivo do conjunto de dados é prever se uma determinada máquina irá ou não falhar em um futuro próximo, com base em dados de sensores coletados.
https://www.kaggle.com/datasets/shivamb/machine-predictive-maintenance-classification

In [47]:
data = pd.read_csv(r"D:\Iniciação Científica\Machine Predictive Maintenance Classification\predictive_maintenance.csv",header=None)

In [48]:
data

,0,1,2,3,4,5,6,7,8,9
0,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
1,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
2,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
3,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
4,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9996,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9997,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9998,9998,M24857,M,299,308.6,1645,33.4,22,0,No Failure
9999,9999,H39412,H,299,308.7,1408,48.5,25,0,No Failure
10000,10000,M24859,M,299,308.7,1500,40.2,30,0,No Failure

**UCI Mechanical Analysis Data Set** https://www.kaggle.com/datasets/heitornunes/mechanical-analysis